{% extends 'clothing/base.html' %}
{% load static %}

{% block content %}

<h3 class="display-3">About Project</h3>
<blockquote class="blockquote text-right">
    <p class="lead">"Every great accomplishment starts with a first step.
        No matter how big your goals are. No matter how great your plans are.
        No matter how immense your dreams are.
        It all begins with a single step."</p>
    <footer class="blockquote-footer text-right">Clifton Anderson</footer>
</blockquote>
<p style="font-size: 24px; font-family: monospace">Hello! This is my first Django project where I apply all the knowledge I have learned so far about views, models, forms and templates, and also HTML, CSS, JavaScript, and bootstrap!
<br>You are welcome to visit my GitHub page: <a href="https://github.com/Davon-Rolage" class="github-logo"><img style="max-width: 50px; padding-right: 10px;" src="{% static 'images/github-mark.png' %}" alt="github-logo">Davon-Rolage</a>
</p>
<p class="lead">Special thanks to my father, <a href="https://github.com/rudotcom" style="text-decoration: none">@rudotcom</a>, a great developer and teacher.</p>
{% endblock %}