{% extends 'clothing/base.html' %}

{% block content %}

<h5 class="display-5">Price List
    <br>
    <a class="btn btn-outline-info" href="/admin/clothing/pricelist/" role="button">Add or change</a>
</h5>
<!-- <a class="btn btn-success">Export to Excel</a> -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Item ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Price</th>
            <th scope="col">Added at</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.added_at }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        var currentDate = new Date().toISOString().slice(0, 10).split('-');
        var fileName = 'pricelist_' + currentDate[2] + '.' + currentDate[1] + '.' + currentDate[0];
        var table = $('table').DataTable({
            dom: 'Blfrtip',
            buttons: [{
                text: 'Export To Excel',
                extend: 'excelHtml5',
                filename: fileName,
                exportOptions: {
                    modifier: {
                        selected: true
                    },
                    columns: [0, 1, 2, 3],
                    format: {
                        header: function (data, columnIdx) {
                            return data;
                        },
                    }
                },
                footer: false,
            }],
            order:[[3, 'asc']]
        });
    });

</script>

{% endblock %}